@model IEnumerable<MairieDelmas.Gestion.EMP.Models.Employe.Employe>

@{
    ViewData["Title"] = "Accueil";
     
}

@*<div class="card-header bg-dark text-uppercase text-white d-flex d-inline">
    <div class="">
        <img src="~/MD logo png copy.png" width="100" alt="Alternate Text" />  <h1 class="d-inline"> Bienvenue </h1>
    </div>

   
</div>*@
 
    <div class="d-flex justify-content-end bg-primary  " style="height:60px">
        <div class="pr-5 pt-2">
            <a class="nav-link text-white " title="Manage">Bienvenue @User.Identity.Name!</a>
        </div>
       
       
    </div> 
        <!--<div class="pr-3 pt-3">
            <a href="#"><img src="~/person-plus.svg" width="30" alt="Alternate Text" /></a>-->
        @*<img src="~/search.svg" alt="Alternate Text" />*@
        <!--<a href="#"><img src="~/trash.svg" width="30" alt="Alternate Text" /> </a>
            <a href="#"><img src="~/eye.svg" width="30" alt="Alternate Text" /></a>
        </div>-->
        @*<div calss="pt-5">
                <p> Utilisateur| @User.Identity.Name</p>
            </div>
            <div class="pt-1 ">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>*@
    <div class="row pt-1 pl-3 pb-1">

        <div class=" col-12 mb-2 col-md-2   bg-light table-bordered border-primary  " style="height:500px">
            <br />
            <div>
                <form action="/" method="post">
                    <div class="input-group">
                        <input class="form-control " type="text" name="Recherche" placeholder="Code Emp..." />
                        <button type="submit" class="btn btn btn-outline-primary  " value="Filter">
                            <img src="~/search.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </form>
            </div>
            <hr />
            <br />

            <div>
                <a asp-controller="Home" class="text-dark text-left btn btn-outline-primary border-0 col-12" asp-action="Index"><img src="~/house-fill.svg" class="text-light" width=" 20" alt="Alternate Text" /> Accueil  </a>
            </div>
            <br />
            <div>

                <a asp-controller="Employes" class="text-dark text-left   btn btn-outline-primary border-0 col-12" asp-action="Recherche"><img src="~/person-rolodex.svg" width=" 20" class="text-light" alt="Alternate Text" /> Employes  </a>
            </div>

            <br />
            <div>
                <a asp-controller="Employes" class="text-dark text-left   btn btn-outline-primary border-0 col-12" asp-action="ListeEmployeEligibleConge"><img src="~/airplane-fill.svg" width=" 20" class="text-light" alt="Alternate Text" />  Conge </a>
            </div>
            <br />
            <div>
                <a asp-controller="Corespondances" class="text-dark   text-left btn btn-outline-primary border-0 col-12" asp-action="Create"><img src="~/envelope-paper-fill.svg" width=" 20" class="text-light" alt="Alternate Text" />  Corespondances</a>
            </div>
            <br />
            <div>
                <a asp-controller="Doleances" class="text-dark  text-left btn btn-outline-primary border-0 col-12" asp-action="Create"><img src="~/signpost-fill.svg" width=" 20" class="text-light" alt="Alternate Text" /> Doleances  </a>
            </div>
            <br />
            <div>
                <a  asp-area="Identity" asp-page="/Account/Manage/Index" class="text-dark  text-left btn btn-outline-primary border-0 col-12"  ><img src="~/gear-fill.svg" width=" 20" class="text-light" alt="Alternate Text" /> Parametres  </a>
            </div>
            <br />

        </div>
        <div class="col-2">
            
        </div>

        <div class="col-12 col-md-6 pl-5 pt-4 bg-white "  >
            <img src="~/MD logo png copy.png" width=" 500" alt="Alternate Text" />
            
        </div>
    </div>
 