@model MairieDelmas.Gestion.EMP.Models.Conge.Conge

@{
    ViewData["Title"] = "Edit";
}

    <div class=" bg-primary text-uppercase text-white align-content-center">
        <img src="~/MD logo png copy.png" width="60" alt="Alternate Text" /> <h2 class="d-inline"> Recherche Conge </h2>
    </div>
    <div class="container pb-2">
        <fieldset class="table-bordered border-primary p-4">
            <legend class="w-auto text-primary"> Modifier </legend>
             
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CongeId" />
                        @*<div class="form-group">
            <label asp-for="EmployeId" class="control-label"></label>
            <input asp-for="EmployeId" class="form-control" />
            <span asp-validation-for="EmployeId" class="text-danger"></span>
        </div>*@
                        <input type="hidden" asp-for="EmployeId" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Nom " class="control-label"></label>
                                    <input asp-for="Nom" class="form-control" readonly />
                                    <span asp-validation-for="Nom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Prenom" class="control-label"></label>
                                    <input asp-for="Prenom " class="form-control" readonly />
                                    <span asp-validation-for="Prenom " class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Emploi" class="control-label"></label>
                                    <input asp-for="Emploi" readonly class="form-control" />
                                    <span asp-validation-for="Emploi" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Service" class="control-label"></label>
                                    <input asp-for="Service" readonly class="form-control" />
                                    <span asp-validation-for="Service" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="NifCin" class="control-label"></label>
                                    <input asp-for="NifCin" readonly class="form-control" />
                                    <span asp-validation-for="NifCin" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TypeConge" class="control-label"></label>
                                    <div>
                                        <select asp-for="TypeConge" class="form-select col-md-12">
                                            <option selected>Conge Annuel</option>
                                            <option value="Conge Maternite">Conge Maternite</option>
                                            <option value="Conge Paternite">Conge Paternite</option>
                                            <option value="Conge Maladie">Conge Maladie</option>
                                            <option value="Conge Assistance Parentale">Conge Assistance Parentale</option>
                                        </select>
                                        <span asp-validation-for="TypeConge" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="DebutConge" class="control-label"></label>
                                    <input asp-for="DebutConge" class="form-control" />
                                    <span asp-validation-for="DebutConge" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6"> <div class="form-group">
    <label asp-for="FinConge" class="control-label"></label>
    <input asp-for="FinConge" class="form-control" />
    <span asp-validation-for="FinConge" class="text-danger"></span>
</div>  </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ReprendreService" class="control-label"></label>
                                    <input asp-for="ReprendreService" class="form-control" />
                                    <span asp-validation-for="ReprendreService" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Observation" class="control-label"></label>
                                    <textarea asp-for="Observation" class="form-control"></textarea>
                                    <span asp-validation-for="Observation" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                         
                       
                      <input asp-for="User" type="hidden" />
                       
                      
                      
                        
                      
                      
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                        </div>
                    </form>
            
        </fieldset>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
