@model MairieDelmas.Gestion.EMP.Models.Employe.Employe

@{
    ViewData["Title"] = "Create";
}

<div class=" bg-primary text-uppercase text-white shadow">
    <img src="~/MD logo png copy.png" width="60" alt="Alternate Text" />  <h2 class="d-inline">Nouveau Employe</h2>
</div>

<div class="container pb-2">
    <fieldset class="table-bordered border-primary p-2">
        <legend class="w-auto text-primary"> Enregistrer </legend>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="row ">

                <div class="col-md-6">
                    <div class="form-group">

                        <label asp-for="TypeContrat" class="control-label"> Type de Contrat</label>
                        @*<input asp-for="TypeContrat" class="form-control" />*@

                        <div>
                            <select asp-for="TypeContrat" class="form-select col-md-12">
                                <option selected> ---Choisissez le Type de Contrat---</option>
                                <option value="salarie"> Salarie</option>
                                <option value="Intermittent">Intermittent</option>
                                <option value="Consultant">Consultant</option>
                                <option value="Plein Temps">Plein Temps</option>
                            </select>
                            <span asp-validation-for="TypeContrat" class="text-danger"></span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nom" class="control-label"></label>
                        <input asp-for="Nom" class="form-control" placeholder="Entrer le Nom" />
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Prenom" class="control-label"></label>
                        <input asp-for="Prenom" class="form-control" placeholder="Entrer le Prenom" />
                        <span asp-validation-for="Prenom" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="DateNaissance" class="control-label"></label>
                        <input asp-for="DateNaissance" class="form-control" type="date" />
                        <span asp-validation-for="DateNaissance" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LieudeNaissance" class="control-label"></label>
                        <input asp-for="LieudeNaissance" class="form-control" placeholder="Entrer le Lieu de Naiss..." />
                        <span asp-validation-for="LieudeNaissance" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nationalite" class="control-label"></label>
                        <input asp-for="Nationalite" class="form-control" placeholder="Entrer la nationalite..." />
                        <span asp-validation-for="Nationalite" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PaysdeNaissance" class="control-label"></label>
                        <input asp-for="PaysdeNaissance" class="form-control" placeholder="Entrer le pays de naissance" />
                        <span asp-validation-for="PaysdeNaissance" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Adresse" class="control-label"></label>
                        <input asp-for="Adresse" class="form-control" placeholder="# 3, rue charbonniere, Delmas" />
                        <span asp-validation-for="Adresse" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SituationFamiliale" class="control-label"></label>
                        <div>
                            <select asp-for="SituationFamiliale" class="form-select col-md-12">
                                <option selected>---Choisissez l'Etat Matrimonial---</option>
                                <option value="Marie(e)">Marie(e)</option>
                                <option value="Divorce(e)">Divorce(e)</option>
                                <option value="Celibataire">Celibataire</option>
                                <option value="Veuf(ve)">Veuf(ve)</option>
                                <option value="Concubinage">Concubinage</option>
                            </select>
                            <span asp-validation-for="SituationFamiliale" class="text-danger"></span>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NombrePersaCharge" class="control-label"></label>
                        <input asp-for="NombrePersaCharge" value="0" class="form-control" />
                        <span asp-validation-for="NombrePersaCharge" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NombreEnfants" class="control-label"></label>
                        <input asp-for="NombreEnfants" value="0" class="form-control" />
                        <span asp-validation-for="NombreEnfants" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NIFCIN" class="control-label"></label>
                        <input asp-for="NIFCIN" placeholder="0000-00-00-00-00000" class="form-control" />
                        <span asp-validation-for="NIFCIN" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <input asp-for="User" type="hidden" value="@User.Identity.Name" />

            <!--<details >

            <summary> Information Complementaires</summary>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Emploi" class="control-label"></label>-->
            @*<input asp-for="Emploi" class="form-control" />
                <span asp-validation-for="Emploi" class="text-danger"></span>*@

            <!--<select asp-for="Emploi" class="form-select col-md-12">
                        <option selected>Chef de Service</option>
                        <option value="Assistant">Assistant</option>
                        <option value="Coordonateur">Coordonateur</option>
                        <option value="Fiscaliste">Fiscaliste</option>
                        <option value="Technicien">Technicien</option>

                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Service" class="control-label"></label>-->
            @*<input asp-for="Service" class="form-control" />
                <span asp-validation-for="Service" class="text-danger"></span>*@


            <!--<select asp-for="Service" class="form-group col-md-12">
                                <option selected>Fiscalite</option>
                                <option value="Resources Humaines">Resources Humaines</option>
                                <option value="Informatique">Informatique</option>
                                <option value="Communication">Communication</option>
                                <option value="Administration">Administration</option>
                                <option value="Comptabilite">Comptabilite</option>
                                <option value="Genie">Genie</option>
                                <option value="Voirie">Voirie</option>
                                <option value="GIM">GIM</option>
                                <option value="Pompiers">Pompiers</option>
                                <option value="Garage">Garage</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">

                            <label asp-for="Cadre" class="control-label">Estes-Vous un Cadre</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <label asp-for="Cadre" class="control-label">Oui</label>
                                <input asp-for="Cadre" value="Oui" class="form-check-input" type="radio" checked />
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <label asp-for="Cadre" class="control-label">Non</label>
                                <input asp-for="Cadre" value="Non" class="form-check-input" type="radio" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="Telephone" class="control-label"></label>
                            <input asp-for="Telephone" class="form-control " type="tel" />
                            <span asp-validation-for="Telephone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Portable" class="control-label"></label>
                            <input asp-for="Portable" class="form-control" type="tel" />
                            <span asp-validation-for="Portable" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" type="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="PersonneAPrevenir" class="control-label"></label>
                            <input asp-for="PersonneAPrevenir" class="form-control" />
                            <span asp-validation-for="PersonneAPrevenir" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PortablePersonneAPrevenir" class="control-label"></label>
                            <input asp-for="PortablePersonneAPrevenir" class="form-control" />
                            <span asp-validation-for="PortablePersonneAPrevenir" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Liens" class="control-label"></label>
                            <input asp-for="Liens" class="form-control" />
                            <span asp-validation-for="Liens" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </details>
            <hr />
            <details>
                <summary> Document a demander pour les dossiers de L'employe</summary>
                <br />
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CarteIdentification" class="form-label"></label>
                            <input asp-for="CarteIdentification " class="form-control" type="file" id="formFile">
                        </div>
                        <div class="form-group ">
                            <label asp-for="CV" class="form-label"></label>
                            <input asp-for="CV" class="form-control" type="file" id="formFile">
                            <span asp-validation-for="CV" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Photo" class="form-label"></label>
                            <input asp-for="Photo" class="form-control" type="file" id="formFile">
                        </div>
                        <div class="form-group ">
                            <label asp-for="PermisConduire" class="form-label"></label>
                            <input asp-for="PermisConduire" class="form-control" type="file" id="formFile">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/651211-conception-du-classeur-document-gratuit-vectoriel.jpg" width="350" alt="Alternate Text" />
                    </div>
                </div>

            </details>

            <hr />
            <br />
            <details>
                <summary> Autres Informations</summary>
                <br />
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Allergies" class="control-label"></label>
                            <input asp-for="Allergies" class="form-control" />
                            <span asp-validation-for="Allergies" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gs" class="control-label"></label>
                            <input asp-for="Gs" class="form-control" />
                            <span asp-validation-for="Gs" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Maladies" class="control-label"></label>
                            <input asp-for="Maladies" class="form-control" placeholder="Entrer les maladies que vous souffrez" />
                            <span asp-validation-for="Maladies" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="Remarques" class="control-label"></label>
                            <textarea asp-for="Remarques" class="form-control"></textarea>
                            <span asp-validation-for="Remarques" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DatederniereVisite" class="control-label"></label>
                            <input asp-for="DatederniereVisite" class="form-control" />
                            <span asp-validation-for="DatederniereVisite" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DateEntreaLaMairie" class="control-label"></label>
                            <input asp-for="DateEntreaLaMairie" class="form-control" />
                            <span asp-validation-for="DateEntreaLaMairie" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CompteBancaireBNC" class="control-label"></label>
                            <input asp-for="CompteBancaireBNC" class="form-control" placeholder="Entrer le numero du Compte BNC" />
                            <span asp-validation-for="CompteBancaireBNC" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AutreFormation" class="control-label"></label>
                            <input asp-for="AutreFormation" class="form-control" placeholder="Entrer une autre Formation" />
                            <span asp-validation-for="AutreFormation" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="EtudeEncour" class="control-label"></label>
                            <textarea asp-for="EtudeEncour" class="form-control"  rows="3" placeholder="Entrer vos Etudes en Cour"></textarea>
                            <span asp-validation-for="EtudeEncour" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </details>-->
            @*<div class="form-group">
                    <label asp-for="CarteIdentification" class="control-label"></label>
                    <input asp-for="CarteIdentification" class="form-control" />
                    <span asp-validation-for="CarteIdentification" class="text-danger"></span>
                </div>*@








            @*<div class="form-group">
                         <label asp-for="CV" class="control-label"></label>
                         <input asp-for="CV" class="form-control" />
                         <span asp-validation-for="CV" class="text-danger"></span>
                     </div>
                     <div class="form-group">
                         <label asp-for="Photo" class="control-label"></label>
                         <input asp-for="Photo" class="form-control" />
                         <span asp-validation-for="Photo" class="text-danger"></span>
                     </div>
                     <div class="form-group">
                         <label asp-for="PermisConduire" class="control-label"></label>
                         <input asp-for="PermisConduire" class="form-control" />
                         <span asp-validation-for="PermisConduire" class="text-danger"></span>
                c








                     @*<div class="form-group">
                         <label asp-for="Etat" class="control-label"></label>
                         <input asp-for="Etat" class="form-control" />
                         <span asp-validation-for="Etat" class="text-danger"></span>
                     </div>*@
            <br />

            <div class="d-grid gap-2">
                <input type="submit" value="Create" class="btn btn-primary text-uppercase  " />
                <a class=" btn btn-outline-primary text-uppercase  " asp-action="Index">Back to List</a>
            </div>

        </form>
    </fieldset>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
