@model MairieDelmas.Gestion.EMP.Models.Employe.Employe

@{
    ViewData["Title"] = "EnregistrerInfoComplementaire";
}

<div class="  bg-primary text-uppercase text-white shadow">
    <img src="~/MD logo png copy.png" width="60" alt="Alternate Text" /> <h2 class="d-inline">Employes Mairie de Delmas  </h2>
</div>

<div class="container pb-2">
    <fieldset class="table-bordered border-primary p-2">
        <legend class="w-auto text-primary"> Enregistrement des Informations Complementaires </legend>

        <form asp-action="EnregistrerInfoComplementaire">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeId" />
            <input asp-for="CodeEmp" type="hidden" />
            <input asp-for="TypeContrat" type="hidden" />
            <input asp-for="Nom" type="hidden" />
            <input asp-for="Prenom" type="hidden" />
            <input asp-for="DateNaissance" type="hidden" />
            <input asp-for="LieudeNaissance" type="hidden" />
            <input asp-for="Nationalite" type="hidden" />
            <input asp-for="PaysdeNaissance" type="hidden" />
            <input asp-for="Adresse" type="hidden" />
            <input asp-for="SituationFamiliale" type="hidden" />
            <input asp-for="NombrePersaCharge" type="hidden" />
            <input asp-for="NombreEnfants" type="hidden" />
            <input asp-for="NIFCIN" type="hidden" />


            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="CodeEmp" class="control-label"></label>
                        <input asp-for="CodeEmp" class="form-control" readonly />
                        <span asp-validation-for="CodeEmp" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="TypeContrat" class="control-label"></label>
                        <input asp-for="TypeContrat" class="form-control" readonly />
                        <span asp-validation-for="TypeContrat" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Nom" class="control-label"></label>
                        <input asp-for="Nom" class="form-control" readonly />
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Prenom" class="control-label"></label>
                        <input asp-for="Prenom" class="form-control" readonly />
                        <span asp-validation-for="Prenom" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Emploi" class="control-label"></label>
                        <div>
                            
                            <select asp-for="Emploi" class="form-select col-md-12">
                                <option selected> ---Selectionner le poste--- </option>

                                @foreach (var item in ViewBag.Poste)
                                {
                                    <option value="@item.NomPoste">@item.NomPoste</option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="Emploi" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Service" class="control-label"></label>
                        
                            <select asp-for="Service" class="form-group col-md-12">
                                <option selected>--- Selectionner le service affecter---</option>
                                @foreach (var item in ViewBag.Service)
                                {
                                    <option value="@item.NomService">@item.NomService</option>
                                }

                                 
                            </select>
                        
                        <span asp-validation-for="Service" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">

                        <label asp-for="Cadre" class="control-label">Estes-Vous un Cadre</label>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label asp-for="Cadre" class="control-label">Oui</label>
                            <input asp-for="Cadre" value="Oui" class="form-check-input" type="radio" checked />
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label asp-for="Cadre" class="control-label">Non</label>
                            <input asp-for="Cadre" value="Non" class="form-check-input" type="radio" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group ">
                        <label asp-for="Telephone" class="control-label"></label>
                        <input asp-for="Telephone" class="form-control " type="tel" />
                        <span asp-validation-for="Telephone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Portable" class="control-label"></label>
                        <input asp-for="Portable" class="form-control" type="tel" />
                        <span asp-validation-for="Portable" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" type="email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="PersonneAPrevenir" class="control-label"></label>
                        <input asp-for="PersonneAPrevenir" class="form-control" />
                        <span asp-validation-for="PersonneAPrevenir" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PortablePersonneAPrevenir" class="control-label"></label>
                        <input asp-for="PortablePersonneAPrevenir" class="form-control" />
                        <span asp-validation-for="PortablePersonneAPrevenir" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Liens" class="control-label"></label>
                        <input asp-for="Liens" class="form-control" />
                        <span asp-validation-for="Liens" class="text-danger"></span>
                    </div>
                </div>
            </div>



            <input asp-for="Gs" type="hidden" />
            <input asp-for="Allergies" type="hidden" />
            <input asp-for="Maladies" type="hidden" />
            <input asp-for="Remarques" type="hidden" />
            <input asp-for="DatederniereVisite" type="hidden" />
            <input asp-for="DateEntreaLaMairie" type="hidden" />
            <input asp-for="CompteBancaireBNC" type="hidden" />
            <input asp-for="AutreFormation" type="hidden" />
            <input asp-for="EtudeEncour" type="hidden">
            <input asp-for="CarteIdentification" type="hidden" />
            <input asp-for="CV" type="hidden" />
            <input asp-for="Photo" type="hidden" />
            <input asp-for="PermisConduire" type="hidden" />
            <input asp-for="Etat" type="hidden" />
            <input asp-for="DatechangementEtat" type="hidden" />
            <input asp-for="Remarque" type="hidden" />


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary   text-uppercase  " />
                <a asp-action="RechercheEmployeActif" class="btn  btn-outline-primary text-uppercase  ">Back to List</a>
            </div>
        </form>
</fieldset>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
