@model MairieDelmas.Gestion.EMP.Models.Employe.Employe

@{
    ViewData["Title"] = "EnregistrerAutreInformation";
}
 

    <div class="  bg-primary text-uppercase text-white shadow">
        <img src="~/MD logo png copy.png" width="60" alt="Alternate Text" />  <h2 class="d-inline">Employes Mairie de Delmas</h2>
    </div>
 
    <div class="container pb-2">
        <fieldset class="table-bordered border-primary p-2 " >
            <legend class="w-auto text-primary"> Modifications des Autres Informations</legend>
            <form asp-action="EnregistrerAutreInformation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EmployeId" />
                <input asp-for="CodeEmp" type="hidden" />
                <input asp-for="TypeContrat" type="hidden" />
                <input asp-for="Nom" type="hidden" />
                <input asp-for="Prenom" type="hidden" />
                <input asp-for="DateNaissance" type="hidden" />
                <input asp-for="LieudeNaissance" type="hidden" />
                <input asp-for="Nationalite" type="hidden" />
                <input asp-for="PaysdeNaissance" type="hidden" />
                <input asp-for="Adresse" type="hidden" />
                <input asp-for="SituationFamiliale" type="hidden" />
                <input asp-for="NombrePersaCharge" type="hidden" />
                <input asp-for="NombreEnfants" type="hidden" />
                <input asp-for="NIFCIN" type="hidden" />
                <input asp-for="Emploi" type="hidden" />
                <input asp-for="Service" type="hidden" />
                <input asp-for="Cadre" type="hidden" />
                <input asp-for="Telephone" type="hidden" />
                <input asp-for="Portable" type="hidden" />
                <input asp-for="Email" type="hidden" />
                <input asp-for="PersonneAPrevenir" type="hidden" />
                <input asp-for="PortablePersonneAPrevenir" type="hidden" />
                <input asp-for="Liens" type="hidden" />
                <input asp-for="DatechangementEtat" type="hidden" />
                <input asp-for="Remarque" type="hidden" />

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CodeEmp" class="control-label"></label>
                            <input asp-for="CodeEmp" class="form-control" readonly />
                            <span asp-validation-for="CodeEmp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="TypeContrat" class="control-label"></label>
                            <input asp-for="TypeContrat" class="form-control" readonly />
                            <span asp-validation-for="TypeContrat" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Nom" class="control-label"></label>
                            <input asp-for="Nom" class="form-control" readonly />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Prenom" class="control-label"></label>
                            <input asp-for="Prenom" class="form-control" readonly />
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Emploi" class="control-label"></label>
                            <input asp-for="Emploi" class="form-control" readonly />
                            <span asp-validation-for="Emploi" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Service" class="control-label"></label>
                            <input asp-for="Service" class="form-control" readonly />
                            <span asp-validation-for="Service" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Allergies" class="control-label"></label>
                            <input asp-for="Allergies" class="form-control" />
                            <span asp-validation-for="Allergies" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="Gs" class="control-label"></label>
                            <div>
                                <select asp-for="Gs" class="form-group col-md-12">
                                    <option selected>---Selectionner le Groupe Sanguin---</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Maladies" class="control-label"></label>
                            <input asp-for="Maladies" class="form-control" placeholder="Entrer les maladies que vous souffrez" />
                            <span asp-validation-for="Maladies" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="Remarques" class="control-label"></label>
                            <textarea asp-for="Remarques" class="form-control"></textarea>
                            <span asp-validation-for="Remarques" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DatederniereVisite" class="control-label"></label>
                            <input asp-for="DatederniereVisite" type="date" class="form-control" />
                            <span asp-validation-for="DatederniereVisite" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DateEntreaLaMairie" class="control-label"></label>
                            <input asp-for="DateEntreaLaMairie" type="date" class="form-control" />
                            <span asp-validation-for="DateEntreaLaMairie" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CompteBancaireBNC" class="control-label"></label>
                            <input asp-for="CompteBancaireBNC" class="form-control" placeholder="Entrer le numero du Compte BNC" />
                            <span asp-validation-for="CompteBancaireBNC" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AutreFormation" class="control-label"></label>
                            <input asp-for="AutreFormation" class="form-control" placeholder="Entrer une autre Formation" />
                            <span asp-validation-for="AutreFormation" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="EtudeEncour" class="control-label"></label>
                            <textarea asp-for="EtudeEncour" class="form-control" placeholder="Entrer vos Etudes en Cour"></textarea>
                            <span asp-validation-for="EtudeEncour" class="text-danger"></span>
                        </div>
                    </div>
                </div>



                <input asp-for="CarteIdentification" type="hidden" />
                <input asp-for="CV" type="hidden" />
                <input asp-for="Photo" type="hidden" />
                <input asp-for="PermisConduire" type="hidden" />
                <input asp-for="Etat" type="hidden" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary  text-uppercase  " />
                    <a asp-action="AutreInformation" class="btn btn-outline-primary   text-uppercase  ">Retour</a>
                </div>
            </form>
        </fieldset>
    </div>

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
