@model MairieDelmas.Gestion.EMP.Models.Employe.Employe

@{
    ViewData["Title"] = "ModifierInfoPersonnelle";
}
 
    <div class="  bg-primary text-uppercase text-white shadow">
        <img src="~/MD logo png copy.png" width="100" alt="Alternate Text" /> <h1 class="d-inline">Employes Mairie de Delmas</h1>
    </div>
 
    <div class="container pb-2">
        <fieldset class="table-bordered border-primary p-2">
            <legend class="w-auto text-primary"> Modifications des Informations Personnelles</legend>
            <form asp-action="ModifierInfoPersonnelle">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EmployeId" />
                <input asp-for="CodeEmp" type="hidden" />
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">

                            <label asp-for="TypeContrat" class="control-label"> Type de Contrat</label>
                            <div>
                                <select asp-for="TypeContrat" class="form-select col-md-12">
                                    <option selected>salarie</option>
                                    <option value="Intermittent">Intermittent</option>
                                    <option value="Consultant">Consultant</option>
                                    <option value="Plein Temps">Plein Temps</option>
                                </select>
                                <span asp-validation-for="TypeContrat" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Nom" class="control-label"></label>
                            <input asp-for="Nom" class="form-control" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Prenom" class="control-label"></label>
                            <input asp-for="Prenom" class="form-control" />
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="DateNaissance" class="control-label"></label>
                            <input asp-for="DateNaissance" type ="date"class="form-control"  />
                            <span asp-validation-for="DateNaissance" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LieudeNaissance" class="control-label"></label>
                            <input asp-for="LieudeNaissance" class="form-control" />
                            <span asp-validation-for="LieudeNaissance" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Nationalite" class="control-label"></label>
                            <input asp-for="Nationalite" class="form-control" />
                            <span asp-validation-for="Nationalite" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PaysdeNaissance" class="control-label"></label>
                            <input asp-for="PaysdeNaissance" class="form-control" />
                            <span asp-validation-for="PaysdeNaissance" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Adresse" class="control-label"></label>
                            <input asp-for="Adresse" class="form-control" />
                            <span asp-validation-for="Adresse" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SituationFamiliale" class="control-label"></label>
                            <div>
                                <select asp-for="SituationFamiliale" class="form-select col-md-12">
                                    <option selected>Marie(e)</option>
                                    <option value="Divorce(e)">Divorce(e)</option>
                                    <option value="Celibataire">Celibataire</option>
                                    <option value="Veuf(ve)">Veuf(ve)</option>
                                    <option value="Concubinage">Concubinage</option>
                                </select>
                                <span asp-validation-for="TypeContrat" class="text-danger"></span>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NombrePersaCharge" class="control-label"></label>
                            <input asp-for="NombrePersaCharge" class="form-control" />
                            <span asp-validation-for="NombrePersaCharge" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NombreEnfants" class="control-label"></label>
                            <input asp-for="NombreEnfants" class="form-control" />
                            <span asp-validation-for="NombreEnfants" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NIFCIN" class="control-label"></label>
                            <input asp-for="NIFCIN" class="form-control" />
                            <span asp-validation-for="NIFCIN" class="text-danger"></span>
                        </div>
                    </div>
                </div>



                <input asp-for="Emploi" type="hidden" />
                <input asp-for="Service" type="hidden" />
                <input asp-for="Cadre" type="hidden" />
                <input asp-for="Telephone" type="hidden" />
                <input asp-for="Portable " type="hidden" />
                <input asp-for="Email" type="hidden" />
                <input asp-for="PersonneAPrevenir" type="hidden" />
                <input asp-for="PortablePersonneAPrevenir" type="hidden" />
                <input asp-for="Liens" type="hidden" />
                <input asp-for="Gs" type="hidden" />
                <input asp-for="Allergies" type="hidden" />
                <input asp-for="Maladies" type="hidden" />
                <input asp-for="Remarques" type="hidden" />
                <input asp-for="DatederniereVisite" type="hidden" />
                <input asp-for="DateEntreaLaMairie" type="hidden" />
                <input asp-for="CompteBancaireBNC" type="hidden" />
                <input asp-for="AutreFormation" type="hidden" />
                <input asp-for="EtudeEncour" type="hidden">
                <input asp-for="CarteIdentification" type="hidden" />
                <input asp-for="CV" type="hidden" />
                <input asp-for="Photo" type="hidden" />
                <input asp-for="PermisConduire" type="hidden" />
                <input asp-for="Etat" type="hidden" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary   text-uppercase  " />
                    <a asp-action="Recherche" class="btn btn-outline-primary   text-uppercase  ">Retour</a>
                </div>
            </form>
        </fieldset>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
